@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body { margin: 0; padding: 0; }
  body { overscroll-behavior: none; }
  ::-webkit-scrollbar { width: 4px; height: 4px; }
  ::-webkit-scrollbar-track { background: #0d1c2d; }
  ::-webkit-scrollbar-thumb { background: #3e484f; border-radius: 99px; }
}

@layer utilities {
  .animate-in { animation: fadeIn 0.2s ease both; }
  @keyframes fadeIn { from { opacity: 0; transform: scale(0.97); } to { opacity: 1; transform: scale(1); } }
}
